<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
    <tr>
        <th style="width: 100px;">
            <div class="btn-toolbar"><i class="btn icon-plus" ng-click="toggleAddMode()"></i></div>
        </th>
        <th style="width: 50px;">Id</th>
        <th>Name</th>
    </tr>
    <tr ng-show="addMode">
        <td>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <i class="btn icon-save" ng-click="addPerson()"></i>
                    <i class="btn icon-remove" ng-click="toggleAddMode()"></i>
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <input ng-model="person.Name" />
        </td>
    </tr>
    <tr ng-repeat="person in people | orderBy:'Id':true">
        <td>
            <div class="btn-toolbar" ng-show="person.editMode == null || person.editMode == false">
                <div class="btn-group">
                    <i class="btn icon-edit" ng-click="toggleEditMode(person)"></i>
                    <i class="btn icon-trash" ng-click="deletePerson(person)"></i>
                </div>
            </div>
            <div class="btn-toolbar" ng-show="person.editMode == true">
                <div class="btn-group">
                    <i class="btn icon-save" ng-click="updatePerson(person)"></i>
                    <i class="btn icon-remove" ng-click="toggleEditMode(person)"></i>
                </div>
            </div>
        </td>
        <td>{{person.Id}}</td>
        <td>
            <span ng-show="person.editMode == null || person.editMode == false">{{person.Name}}</span>
            <input ng-model="person.Name" ng-show="person.editMode == true" />
        </td>
    </tr>
</table>