<div ng-show="loading">Loading...</div>

<table class="crud-grid table table-striped table-bordered table-condensed table-hover">
    <tr>
        <th class="col-md-1">
            <div class="btn-toolbar"><i class="btn btn-default glyphicon glyphicon-plus" ng-click="toggleAddMode()"></i></div>
        </th>
        <th class="col-md-1" ng-click="setOrderBy('Id')">
            <div>
                Id
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == 'Id'"></i>
            </div>
        </th>
        <th ng-click="setOrderBy('Name')">
            <div>
                Name
                <i class="glyphicon" ng-class="{'glyphicon-sort-by-alphabet': orderBy.asc, 'glyphicon-sort-by-alphabet-alt': !orderBy.asc}" ng-show="orderBy.field == 'Name'"></i>
            </div>
        </th>
    </tr>
    <tr ng-show="addMode">
        <td>
            <div class="btn-toolbar">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-save" ng-click="addObject()"></i>
                    <i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleAddMode()"></i>
                </div>
            </div>
        </td>
        <td></td>
        <td>
            <input ng-model="object.Name" />
        </td>
    </tr>
    <tr ng-repeat="object in objects | orderBy:orderBy.field:!orderBy.asc">
        <td>
            <div class="btn-toolbar" ng-show="object.editMode == null || object.editMode == false">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-edit" ng-click="toggleEditMode(object)"></i>
                    <i class="btn btn-default glyphicon glyphicon-trash" ng-click="deleteObject(object)"></i>
                </div>
            </div>
            <div class="btn-toolbar" ng-show="object.editMode == true">
                <div class="btn-group">
                    <i class="btn btn-default glyphicon glyphicon-save" ng-click="updateObject(object)"></i>
                    <i class="btn btn-default glyphicon glyphicon-remove" ng-click="toggleEditMode(object)"></i>
                </div>
            </div>
        </td>
        <td>{{object.Id}}</td>
        <td>
            <span ng-show="object.editMode == null || object.editMode == false">{{object.Name}}</span>
            <input ng-model="object.Name" ng-show="object.editMode == true" model-change-blur />
        </td>
    </tr>
</table>

